absl-py
asgiref
astunparse
autopep8
backports.entry-points-selectable
bootstrap-admin
certifi
chardet
clang
defusedxml
distlib
dj-database-url
Django
django-allauth
django-countries
django-crispy-forms
django-debug-toolbar
django-jazzmin
djangorestframework
filelock
flatbuffers
gast
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
joblib
keras
Keras-Preprocessing
oauthlib
opt-einsum
pep8
Pillow
platformdirs
pycodestyle
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
stripe
tensorboard
tensorflow
tensorflow-estimator
termcolor
toml
urllib3
virtualenv
virtualenvwrapper-win
