{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}
<!-- Page info -->
	<div class="page-top-info" style="padding:10px">
		<div class="container">
			<h4>Contact</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<p style="display:inline-block">Contact</p>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<!-- Contact section -->
	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 contact-info">
					<h3>Get in touch</h3>
					<p>133d G-7/3-2 blue area Islamabad </p>
					<p>+92312 7691259</p>
					<p>shopna@info.com</p>
                    <h3>Send Mail</h3>
					<form class="contact-form" method="post">
						{% csrf_token %}
                    {{ form.Name|as_crispy_field }}
						 {{ form.Email|as_crispy_field }}
						 {{ form.Subject|as_crispy_field }}
						 {{ form.Message|as_crispy_field }}
						<button type="submit" class="site-btn" style="margin-left:150px"><i class="icon-profile"></i> Send Mail
                        </button>
					</form>
				</div>
			</div>
		</div>
		<div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26549.22081516707!2d73.0536443963266!3d33.717937114667954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbf9bc116caa3%3A0x337cd6075e732737!2sBlue%20Area%2C%20Islamabad%2C%20Islamabad%20Capital%20Territory!5e0!3m2!1sen!2s!4v1594620272759!5m2!1sen!2s" style="border:0" allowfullscreen></iframe>
        </div>
	</section>
	<!-- Contact section end -->
{%endblock%}