<!-- Footer section -->
<section class="footer-section mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>About</h2>
                    <p class="mb-1">How Shopna Transformed Online Shopping in Pakistan
                        shopna first made waves in Pakistan’s e-commerce market after its introduction in 2021.
                        We have since grown to become
                        Pakistan’s largest platform for online shopping with a network spread across Asia in
                        Pakistan </p>
                    <p style="margin:0">
                        Hassle Free Delivery
                        Online shopping is only as good as its execution and Daraz promises hassle free delivery right
                        from the moment you order to when your package is dropped at your door.
                    </p>
                    <img src="img/cards.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{%url 'ordersummary'%}">Cart</a></li>
                        <li><a href="{%url 'store'%}">Store</a></li>
                        <li><a href="{%url 'login' %}">Login</a></li>
                        <li><a href="{%url 'signup' %}">Signup</a></li>
                        <li><a href="{%url 'contact'%}">Contact</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2>Address</h2>
                    <div class="con-info">
                        <span>C.</span>
                        <p>Shopna </p>
                    </div>
                    <div class="con-info">
                        <span>B.</span>
                        <p>133d G-7/3-2 blue area Islamabad </p>
                    </div>
                    <div class="con-info">
                        <span>T.</span>
                        <p>+923085260075</p>
                    </div>
                    <div class="con-info">
                        <span>E.</span>
                        <p>shopna@info.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p class="text-white text-center">Copyright &#169; -
            <script>document.write(new Date().getFullYear())</script>
            <a href='#' style='color:#fff;'> | Shopna |</a> All Right Reserved
        </p>
        <div class='remove-footer' style='font-size: 1px; opacity: 0;'>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());
            </script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>

</section>
<!-- Footer section end -->