{%extends 'base.html'%}
{%load static%}

{%block content%}
<style>
span{
color:#f51167;
font-size:16px;
}
</style>

<div class="container">
    <div class="row ">
        <h2 class="text-center mt-5 mb-3" style="color:#f51167;">Order Completed Successfully<span>( Save the order reference code for any issue)</span></h2>
        <div class="col-md-6 col-lg-6 ">
            <h4 class="mt-4">User </h4>
            <h4 class="mt-4">Reference code </h4>
            <h4 class="mt-4"> Date </h4>
            <h4 class="mt-4"> Shipping Address </span></h4>
            <h4 class="mt-4"> Billing Address </span></h4>
            <h4 class="mt-4 mb-5"> Total Amount </h4>
        </div>

        <div class="col-md-6 col-lg-6 ">
            <h4 class="mt-4"> <span>{{order.user}}</span></h4>
            <h4 class="mt-4"><span> {{order.ref_code}}</span></h4>
            <h4 class="mt-4"><span> {{order.start_date}}</span></h4>
            <h4 class="mt-4">  <span>{{order.shipping_address.street_address}} | {{order.shipping_address.apartment_address}}</span></h4>
            <h4 class="mt-4"> <span>{{order.billing_address.street_address}} | {{order.billing_address.apartment_address}}</span></h4>
            <h4 class="mt-4 mb-5"> <span>{{order.get_total}}</span></h4>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h2>Cancel your order</h2>
        </div>
    <div class="col-md-6 col-lg-6">

        <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Cancel Order
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cancel Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <form  method="post">
    {% csrf_token %}
    <a class="btn btn-default btn-sm" href="{% url 'cancel_order' order.id %}">
       <h4 style="display:inline-block">Are you sure ? </h4>
        <i class="fa fa-trash ml-5" style="font-size:20px; color:red"></i>
    </a>
</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
        </div>
    </div>
</div>
{%endblock%}